doctype html 
html(lang='ru')
    head
        meta(charset='utf-8')
        title ='Webpack'
    body
        h1 Файл створений за допомогою Pug 
        h2 А це список
        ul 
            li один
            li два