$font-size: 1rem;
$font-family:"Apercu","Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
$font-color: white;
$body-color: #578496;
$header-color: #15141F;
$main-color: #141C3A;
$footer-color: #15141F;
$info-panel-color:#3f75a1;
$gold-color:#CFAE0F;
$product-section-color: #FFFFFF;
$border:1px solid rgb(255, 255, 255);
$header-height: 15vh;
$main-height: 100vh;
$footer-height: 30vh;
$info-panel-height: 6vh;
$content-margin: 6vh 3.5vh 2vh 3.5vh;
$content-width: inherit;
$content-max-height: inherit;
html {
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
    background-color: $body-color;
    margin: auto;
    max-width: 80vw;
}

article {
    height: 77%;
}

header,
footer,
main,
#info-panel {
    border: $border;
}

header {
    background-color: $header-color;
    height: $header-height;
}

footer {
    background-color: $footer-color;
    height: $footer-height;
}

main {
    background-color: $main-color;
    height: $main-height;
}

main>#info-panel {
    height: $info-panel-height;
    background-color:$info-panel-color;
    margin: 3vh 2vh auto 2vh;
}

main article>#content {
    margin: $content-margin;
    background-color: $product-section-color;
    min-height: 100%;
    width: $content-width;
}